libccmodbus.config
libccmodbus.creator
libccmodbus.creator.*
libccmodbus.files
libccmodbus.includes

Doc/

build/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
